<html>

<head>
  <title>M2racle Remote Scrapper</title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <link rel="shortcut icon" href="#" />
</head>

<body>
  <header>
    <h1>Remote Jobs</h1>
  </header>
  <main>
    <article>
      <form action="/search" method="get">
        <h4>Search by term:</h4>
        <input placeholder="i.e python" name="lang" required="" >
        <button type="submit">Find my job</button>
      </form>
    </article>
    
  </main>
</body>
</html>