<html>

<head>
  <title>M2racle Remote Scrapper</title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <link rel="shortcut icon" href="#" />
</head>

<body>
  <header>
    <h1>Remote Jobs</h1>
    <h3>{{jobs_len}} {{user_job}} jobs found.</h3>
    <a href="/export?lang={{user_job}}"><h4>Export to CSV</h4></a>
    <p></p>
    <a href="/" ><h5>Go back</h5></a>
  </header>
  <main>
    {% for job in jobs %}
    <div>
      <div>
        <h3>{{job.title}}</h3>
      </div>
      <p></p>
      <div>
        <h4>{{job.company}}</h4>
      </div>
      <p></p>
      <a href="{{job.link}}" target="_blank">Apply</a>
    </div>
    <hr>
    {% endfor %}
  </main>
</body>
</html>